In [4]:
import pandas as pd 
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree
import os
df = pd.read_csv("vgsales.csv")

In [4]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
video_games = df

In [6]:
video_games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [7]:
video_games=df.drop(['NA_Sales','EU_Sales','JP_Sales','Other_Sales'],axis=1,)

In [8]:
video_games.describe()

               Rank          Year  Global_Sales
count  16598.000000  16327.000000  16598.000000
mean    8300.605254   2006.406443      0.537441
std     4791.853933      5.828981      1.555028
min        1.000000   1980.000000      0.010000
25%     4151.250000   2003.000000      0.060000
50%     8300.500000   2007.000000      0.170000
75%    12449.750000   2010.000000      0.470000
max    16600.000000   2020.000000     82.740000

In [9]:
video_games.isnull()

        Rank   Name  Platform   Year  Genre  Publisher  Global_Sales
0      False  False     False  False  False      False         False
1      False  False     False  False  False      False         False
2      False  False     False  False  False      False         False
3      False  False     False  False  False      False         False
4      False  False     False  False  False      False         False
...      ...    ...       ...    ...    ...        ...           ...
16593  False  False     False  False  False      False         False
16594  False  False     False  False  False      False         False
16595  False  False     False  False  False      False         False
16596  False  False     False  False  False      False         False
16597  False  False     False  False  False      False         False

[16598 rows x 7 columns]

In [16]:
video_games.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

In [17]:
video_games['Year'].fillna('2006',inplace = True )

In [18]:
video_games['Publisher'].fillna('Electronic Arts',inplace = True)

In [19]:
video_games.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

In [20]:
video_games.dtypes

Rank              int64
Name             object
Platform         object
Year             object
Genre            object
Publisher        object
Global_Sales    float64
dtype: object

In [13]:
video_games

,Rank,Name,Platform,Year,Genre,Publisher,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37
...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01

In [21]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [22]:
df['Genre'].value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
Label_Encoder=LabelEncoder()

In [25]:
print(Label_Encoder)

LabelEncoder()

In [26]:
video_games['Genre'] = Label_Encoder.fit_transform(video_games['Genre'])

In [27]:
video_games.head()

,Rank,Name,Platform,Year,Genre,Publisher,Global_Sales
0,1,Wii Sports,Wii,2006.0,10,Nintendo,82.74
1,2,Super Mario Bros.,NES,1985.0,4,Nintendo,40.24
2,3,Mario Kart Wii,Wii,2008.0,6,Nintendo,35.82
3,4,Wii Sports Resort,Wii,2009.0,10,Nintendo,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,7,Nintendo,31.37

In [28]:
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [29]:
video_games.dtypes

Rank              int64
Name             object
Platform         object
Year             object
Genre             int32
Publisher        object
Global_Sales    float64
dtype: object

In [30]:
video_games['Publisher'] = Label_Encoder.fit_transform(video_games['Publisher'])

In [31]:
video_games.dtypes

Rank              int64
Name             object
Platform         object
Year             object
Genre             int32
Publisher         int32
Global_Sales    float64
dtype: object

In [32]:
video_games['Publisher'].unique()

array([359, 323, 494, 456,  21, 525,  66, 138, 446, 466,  53,   6,  85,
       177, 275, 458, 465, 288, 542, 549, 529, 137, 426, 545, 144, 347,
       385, 214, 488, 164,  17, 292, 126, 296,  91, 424, 281,  40, 325,
       253, 120,  10, 343, 522, 391, 308, 237, 500, 534,  13, 330, 241,
       530, 463, 533,  23,  63, 109, 378, 425, 539, 219, 198, 199, 552,
       206, 101, 224,  94, 430,  55, 486,  12, 567,  18, 460,   4, 419,
       348, 160,  30,  71, 461, 303, 372, 566, 413,  88, 142, 473,  97,
       434, 491,  27, 176, 322, 400, 451, 512, 441, 273, 182, 509, 299,
       191, 334, 398,  84, 496, 104, 436, 414, 576, 420, 526, 443, 246,
       341,  87, 464,   2,  58, 223, 367, 314, 365,  67, 514, 462, 256,
       362, 277, 415, 233, 507, 170, 432, 318, 305, 227, 433, 457, 528,
       193, 554,  61, 381, 516, 279, 232, 492, 263, 122, 146, 559, 238,
       482,  83,  44, 186, 324, 255,  36, 555,  22, 383, 422, 558, 527,
       184, 546, 368, 502, 148,  60, 272, 304, 504, 213, 133, 490, 501,
       337, 444, 399, 294, 315, 269, 225,  57, 116, 139,  70, 254,   9,
       493, 311, 140, 265, 468, 568, 258, 121, 353,  77, 228, 407, 222,
        19, 469, 379,  62, 189, 355, 471,  93,  80, 295, 301, 358, 548,
        35,  39, 403, 438, 211, 165, 361, 357, 286,  99, 112, 218, 338,
       382, 240, 285, 345,  59,  43, 477, 207, 437, 346, 166, 557, 532,
       538, 123,  34, 366,  75, 156,  11,  81, 328, 445, 257, 447, 374,
       342,  50, 203,  26,  98, 105, 293, 449, 317, 423, 363, 485, 569,
       162,  51, 440, 262, 230, 392,  52, 100, 401, 523, 231, 402, 150,
        24, 171, 386,  72, 183, 111,  56, 409, 351, 541,  38, 480, 553,
       481, 536, 113, 131, 310, 537, 505, 181,  78,  20, 190, 153, 234,
       479, 459,  37, 390, 221, 128, 517, 470, 560, 435,  69, 215, 452,
       200, 172, 503, 521, 129, 117, 291, 110, 169, 439,  74, 427, 518,
       336, 484, 370,  28, 344, 118, 508, 179, 115, 371, 188, 556, 450,
       531, 408, 489, 209,   7,  86,  82, 321, 380, 387, 320, 185,  64,
       520, 145,  49, 247,  48, 575, 235, 394, 152, 577, 106, 204, 210,
       217, 360, 376, 448, 333, 326,  16, 159, 196, 287, 550, 114,  31,
       340, 316, 251, 476, 141, 151, 510, 197, 136,  54,  41, 187, 511,
        32, 212, 572, 312, 163, 429, 239, 103,   0, 205, 384, 242,  46,
        47, 135, 564, 395, 208, 201, 125, 102, 264, 551, 278,  14,  90,
        42, 149, 298, 412, 513, 393,   1, 506, 498, 535, 332, 515, 497,
       562, 410, 349, 313, 306,  95, 335, 406, 431, 474, 327, 404, 290,
       276, 158,   5, 280,  29, 107,  89, 453, 543, 243, 455, 154, 565,
       229, 252,   3, 289, 267, 259, 373, 297, 157, 411, 307,  65, 168,
       130, 574,  68, 220, 266,  15, 216, 261, 108, 260, 416, 475, 570,
       487, 143, 155, 245, 173, 478, 274, 369, 356, 573,  79, 519, 472,
         8, 174, 563, 134, 283, 167, 282, 388, 270, 175, 202, 271, 250,
       329, 124,  73, 178, 561, 405, 540, 571, 352,  92, 417, 396, 127,
       300, 161, 236, 268,  25, 499, 180, 331, 119, 442, 226, 428, 195,
       544,  33, 339, 194, 547, 483, 454, 284, 302, 418, 319, 309, 354,
       192, 248,  76, 467, 132, 147, 350,  45, 397, 364, 389, 377, 375,
        96, 249, 495, 244, 421, 524])

In [33]:
video_games['Publisher'].value_counts()

138    1409
21      975
347     932
525     921
275     832
       ...
550       1
353       1
141       1
151       1
524       1
Name: Publisher, Length: 578, dtype: int64

In [43]:
X=video_games.drop(['Global_Sales','Name','Platform','Year',"Rank"], axis = 1)

In [43]:
X

       Genre  Publisher
0         10        359
1          4        359
2          6        359
3         10        359
4          7        359
...      ...        ...
16593      4        269
16594      8        241
16595      6         21
16596      5          8
16597      4        546

[16598 rows x 2 columns]

In [35]:
Y=video_games['Name']

In [36]:
Y

0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object

In [37]:
model = DecisionTreeClassifier()
model.fit(X,Y)
video_games

,Rank,Name,Platform,Year,Genre,Publisher,Global_Sales
0,1,Wii Sports,Wii,2006.0,10,359,82.74
1,2,Super Mario Bros.,NES,1985.0,4,359,40.24
2,3,Mario Kart Wii,Wii,2008.0,6,359,35.82
3,4,Wii Sports Resort,Wii,2009.0,10,359,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,7,359,31.37
...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,4,269,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,8,241,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,6,21,0.01
16596,16599,Know How 2,DS,2010.0,5,8,0.01
16597,16600,Spirits & Spells,GBA,2003.0,4,546,0.01

In [38]:
model.fit(X,Y)

DecisionTreeClassifier()

In [39]:
video_games

,Rank,Name,Platform,Year,Genre,Publisher,Global_Sales
0,1,Wii Sports,Wii,2006.0,10,359,82.74
1,2,Super Mario Bros.,NES,1985.0,4,359,40.24
2,3,Mario Kart Wii,Wii,2008.0,6,359,35.82
3,4,Wii Sports Resort,Wii,2009.0,10,359,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,7,359,31.37
...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,4,269,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,8,241,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,6,21,0.01
16596,16599,Know How 2,DS,2010.0,5,8,0.01
16597,16600,Spirits & Spells,GBA,2003.0,4,546,0.01

In [44]:
#X=video_games.drop(['Global_Sales','Name','Platform','Year',"Rank"], axis = 1)
#Y=video_games['Name']
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25)
#model.fit(X_train, Y_train)
#predictions= model.predict(X_test)

joblib.dump(model, r"C:\\Users\\SurfaceBook\\Desktop\v-game.joblib")

#score =accuracy_score(Y_test, predictions)
#model= joblib.load('Video_Game-recommender.joblib')
#predictions= model.predict([[10,359]])
#predictions

['C:\\\\Users\\\\SurfaceBook\\\\Desktop\\v-game.joblib']

In [46]:

X_train, X_test,Y_train, Y_test = train_test_split(X,Y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)
predictions = model.predict([  [2, 54], [22, 0]])
import warnings 
warnings.filterwarnings("ignore")
predictions= model.predict(X_test)

score = accuracy_score(Y_test,predictions)

predictions

array(['Go Go Ackman 3', 'Driver: San Francisco',
       'All-Star Baseball 2005', ..., 'Homefront', 'NASCAR Heat 2002',
       'FIFA Soccer 13'], dtype=object)

In [45]:
X=video_games.drop(['Global_Sales','Name','Platform','Year',"Rank"], axis = 1)
Y=video_games['Name']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25)
model.fit(X_train, Y_train)

model= joblib.load('V-Game.joblib')
predictions= model.predict([[5,246]])
predictions

array(['Fading Shadows'], dtype=object)

In [ ]:
tree.export_graphviz(model,out_file="V-Game.dot",
                     feature_names=['Genre','Publisher'],
                     class_names= sorted(Y.unique()),
                        label= 'all',
                       rounded= True,
                        filled = True)

In [ ]:
df

In [ ]:
X_train, X_test,Y_train, Y_test = train_test_split(X,Y, test_size=0.2)
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)
#predictions = model.predict([  [21, 1], [22, 0]])
import warnings 
warnings.filterwarnings("ignore")
predictions= model.predict(X_test)

score = accuracy_score(Y_test,predictions)
score